@import 'bootstrap/dist/css/bootstrap';

.navbar-brand{
    font-size: 2rem;
}
.search-area{
    padding-top: 60px;
}
.no-right-padding{
    padding-right: 0px !important;
}

.no-left-padding{
    padding-left: 0px !important;
}
.results-block{
    display: inline-block;
    margin-bottom: 1rem;
}